
input[type="button"] {
    background-color: rgb(111, 142, 143);
    color: black;
    border-radius: 5px;
    width: 90px;
    height: 30px;
}

input[type="text"] {
    background-color: white;
    width: 275px;
}